.cardAdd {
    display: flex;
    height: 50px;
    width: 400px;
    background-color: rgb(192, 233, 81);
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin: auto;
}

.addPlus {
    cursor: pointer;
    height:45px;
    width: 45px;
    border-radius: 45px 45px 45px 45px;
    margin-top: 2px;
    margin-left: 5px;
    background-color: rgb(235, 136, 69);   
}

.addPlus:hover {
    background-color: rgb(99, 245, 63);
    transition-duration: 500ms;
}

.vertPlus {
    position: absolute;
    margin-top: 21px;
    margin-left: 3px;
    height: 5px;
    width: 40px;
    background-color: rgb(27, 216, 9);
    border-radius: 5px 5px 5px 5px;
}

.horPlus {
    position: absolute;
    margin-top: 3px;
    margin-left: 20px;
    height: 40px;
    width: 5px;
    background-color: rgb(27, 216, 9);
    border-radius: 5px 5px 5px 5px;
}

.cardAdd:hover > .plusHor {
    background-color: rgb(235, 136, 69);  
    transition-duration: 700ms;
}

.cardAdd:hover >  .plusVert {
    background-color: rgb(235, 136, 69);  
    transition-duration: 700ms;
}