:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
 
body {
    padding: 0;
    margin: 0;
}
 
#app {
    background-color: #2c2c35;
    background-image: linear-gradient(#404249 0.1em, transparent 0.1em),
        linear-gradient(90deg, #404249 0.1em, transparent 0.1em);
    background-size: 4em 4em;
    height: 100vh;
    position: relative;
    overflow: auto;
}

.card {
    position: relative;
    cursor: grabbing;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% /
                    0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg
                    0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    background-color: rgb(120, 124, 124);
}

.card-body {
    display: grid;
    padding: 1em;
    border-radius: 0 0 5px 5px;
}
 
.card-body textarea {
    background-color: inherit;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
}
 
textarea:focus {
    background-color: inherit;
    outline: none;
    width: 100%;
    height: 100%;
}

.card-body::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: collapse;
}

textarea {
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.card-body>textarea,
.card-body::after {

  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}


/* h1 {
  position: absolute;
}

#test1{
    position: absolute;
    cursor: grabbing;
}

#test4{
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
}

.test5 {
  top: 10px;
  left: 25px;
}

.test6{
  left: 350px;
  top: 200px;
  position: absolute;
}


.jokes {
  top: 15px;
  right: 165px;
  position: absolute;
}

.jokes1 {
  top: 15px;
  left: 150px;
  position: absolute;
}

#myCanvas {
  position: absolute;
  cursor: grabbing;
} */


