name: Update App

on:
 push:
   branches: [main]

permissions:
  contents: read

jobs:
 deploy-app:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v4
     - name: Deploy the app
       uses: digitalocean/app_action/deploy@v2
       with:
         token: ${{ secrets.dop_v1_ba1501a5873061a5f63e38ff4db217ef6bb7ed1ed2f061be30f681d331929948 }}