name: Update App

on:
 push:
   branches: [main]

permissions:
  contents: write

jobs:
  deploy-app:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v4
     - run: rm Removes.json 
     - name: Deploy the app
       uses: digitalocean/app_action/deploy@v2
       with:
         token: ${{ secrets.YOUR_DIGITALOCEAN_ACCESS_TOKEN }}

  environment_var:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - shell: bash
       run: ls 
     - run: rm Removes.json
     - run: echo "remove success"